
h3{font-size: 34px};
h3{font-family: "sans-serif"};

p{font-size: 30px};
h4{font-family: "sans-serif";}
p{font-family: "sans-serif";}
h4{font-size: 24px;}

h3 {
    text-align: left;
  }

  h4 {
    text-align: left;
  }

  h2 {
    text-align: center;
  }




